<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2013-2017 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.aizoon.ersaf.integration.mybatis.mapper.GenereMapper">

	<select id="ricercaListaGeneri" parameterType="it.aizoon.ersaf.form.RicercaGeneriForm"
		resultType="it.aizoon.ersaf.dto.GenereDTO">
		SELECT genere.id_genere,
			genere.cod_genere,
			genere.attivo,
			genere.data_insert,
			genere.data_update,
			genere.id_nazione,
			genere.id_autore_eppo,
			lingua_genere.denom_genere,
			lingua_genere.denom_genere_commerciale,
			lingua_genere.preferred,
			autore.desc_autore_eppo,
			lingua.desc_lingua,
			lingua.id_lingua,
			nazione.denom_nazione,
			locale.denom_genere AS denom_genere_locale
		FROM car_d_genere genere
			INNER JOIN car_r_lingua_genere lingua_genere
				ON genere.id_genere = lingua_genere.id_genere
			INNER JOIN car_d_lingua lingua
				ON lingua_genere.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')
			LEFT OUTER JOIN car_d_autore_eppo autore 
				ON genere.id_autore_eppo = autore.id_autore_eppo
			LEFT OUTER JOIN car_d_nazione nazione 
				ON genere.id_nazione = nazione.id_nazione
			LEFT OUTER JOIN (SELECT lingua_genere_locale.id_genere, lingua_genere_locale.denom_genere FROM car_r_lingua_genere lingua_genere_locale 
				INNER JOIN car_d_lingua lingua_locale ON lingua_genere_locale.id_lingua = lingua_locale.id_lingua AND upper(lingua_locale.cod_lingua) = upper(#{codLingua})) AS locale ON genere.id_genere = locale.id_genere
		<where>
			<if test="codGenere != null">
				<bind name="codGenere" value="codGenere + '%'"/>
				AND UPPER(genere.cod_genere) LIKE UPPER(#{codGenere})
			</if>
			<if test="denomGenere != null">
				<bind name="denomGenere" value="denomGenere + '%'"/>
				AND UPPER(lingua_genere.denom_genere) LIKE UPPER(#{denomGenere})
			</if>
			<if test="denomGenereLocale != null">
				<bind name="denomGenereLocale" value="denomGenereLocale + '%'" />
				AND UPPER(locale.denom_genere) LIKE UPPER(#{denomGenereLocale})
			</if>
			<if test="dataInsert != null">
				AND genere.data_insert = #{dataInsert}
			</if>
			<if test="attivo != null">
				AND genere.attivo = #{attivo}
			</if>			
		</where>
		ORDER BY UPPER(lingua_genere.denom_genere)
		LIMIT 500
	</select>
	
	<select id="getListaGeneri" parameterType="java.lang.String"
		resultType="it.aizoon.ersaf.dto.GenereDTO">
			SELECT genere.id_genere,
			genere.cod_genere,
			genere.attivo,
			genere.id_utente_insert,
			genere.data_insert,
			genere.data_update,
			genere.id_nazione,
			genere.id_autore_eppo,
			lingua_genere.denom_genere,
			lingua_genere.denom_genere_commerciale,
			lingua_genere.preferred,
			autore.desc_autore_eppo,
			lingua.desc_lingua,
			lingua.id_lingua,
			nazione.denom_nazione
		FROM car_d_genere genere
			INNER JOIN car_r_lingua_genere lingua_genere
				ON genere.id_genere = lingua_genere.id_genere
			INNER JOIN car_d_lingua lingua
				ON lingua_genere.id_lingua = lingua.id_lingua
			LEFT OUTER JOIN car_d_autore_eppo autore 
				ON genere.id_autore_eppo = autore.id_autore_eppo
			LEFT OUTER JOIN car_d_nazione nazione 
				ON genere.id_nazione = nazione.id_nazione
		WHERE upper(lingua.cod_lingua) = upper(#{codiceLingua})
		ORDER BY denom_genere
	</select>
	
	<select id="getListaGeneriDenominazione" parameterType="map" resultType="it.aizoon.ersaf.dto.GenereDTO">
	  <bind name="pattern" value="denominazioneLike + '%'" />    
    SELECT genere.id_genere, 
            genere.cod_genere, 
            lingua_genere.denom_genere 
    FROM car_d_genere genere
      INNER JOIN car_r_lingua_genere lingua_genere
        ON genere.id_genere = lingua_genere.id_genere
      INNER JOIN car_d_lingua lingua
        ON lingua_genere.id_lingua = lingua.id_lingua
    WHERE upper(lingua.cod_lingua) = upper(#{codiceLingua})
    AND upper(lingua_genere.denom_genere) like upper(#{pattern})
    ORDER BY denom_genere
  </select>
  
  <select id="getDettaglioGenere" parameterType="map"
		resultType="it.aizoon.ersaf.dto.GenereDTO">
		SELECT genere.id_genere,
			genere.cod_genere,
			genere.attivo,
			genere.data_insert,
			genere.data_update,
			genere.id_nazione,
			genere.id_autore_eppo,
			lingua_genere.denom_genere,
			lingua_genere.denom_genere_commerciale,
			lingua_genere.preferred,
			autore.desc_autore_eppo,
			lingua.desc_lingua,
			lingua.id_lingua,
			nazione.denom_nazione,
			locale.denom_genere AS denom_genere_locale,
			locale.id_lingua AS id_lingua_locale
		FROM car_d_genere genere
			INNER JOIN car_r_lingua_genere lingua_genere
				ON genere.id_genere = lingua_genere.id_genere
			INNER JOIN car_d_lingua lingua
				ON lingua_genere.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')
			LEFT OUTER JOIN car_d_autore_eppo autore 
				ON genere.id_autore_eppo = autore.id_autore_eppo
			LEFT OUTER JOIN car_d_nazione nazione 
				ON genere.id_nazione = nazione.id_nazione
			LEFT OUTER JOIN (SELECT lingua_genere_locale.id_genere, lingua_genere_locale.denom_genere, lingua_genere_locale.id_lingua FROM car_r_lingua_genere lingua_genere_locale 
				INNER JOIN car_d_lingua lingua_locale ON lingua_genere_locale.id_lingua = lingua_locale.id_lingua AND upper(lingua_locale.cod_lingua) = upper(#{codiceLingua})) AS locale ON genere.id_genere = locale.id_genere
		WHERE
			genere.id_genere = #{idGenere}
	</select>
	
	<select id="isGenereEliminabile" parameterType="java.lang.Long" resultType="java.lang.Boolean">
    SELECT TRUE
    FROM car_d_genere AS genere
    WHERE id_genere = #{idGenere}
    AND   id_utente_insert != 1
    AND   NOT EXISTS (
      SELECT 'x'
      FROM car_d_specie
      WHERE id_genere = genere.id_genere)
    AND   NOT EXISTS (
      SELECT 'x'
      FROM car_r_applicazione_tariffa
      WHERE id_genere = genere.id_genere)
    AND   NOT EXISTS (
      SELECT 'x'
      FROM car_r_merce_richiesta
      WHERE id_genere = genere.id_genere)
  </select>
  
  <select id="getGenereDenominazione" parameterType="java.lang.String"
    resultType="it.aizoon.ersaf.dto.GenereDTO">
    SELECT genere.id_genere, 
            genere.cod_genere, 
            lingua_genere.denom_genere 
    FROM car_d_genere genere
      INNER JOIN car_r_lingua_genere lingua_genere
        ON genere.id_genere = lingua_genere.id_genere
      INNER JOIN car_d_lingua lingua
        ON lingua_genere.id_lingua = lingua.id_lingua
    WHERE upper(lingua.cod_lingua) = 'LA'
    AND upper(lingua_genere.denom_genere) = upper(#{denomGenere})
	  LIMIT 1
  </select>
  
    <select id="getListaGenereByIdGruppoZonaProtetta" parameterType="java.lang.Long"  resultType="it.aizoon.ersaf.dto.GenereDTO">
	SELECT distinct zonaProtetta.id_genere, 
           linguaGenere.denom_genere 
      FROM car_d_zona_protetta zonaProtetta 
      INNER JOIN car_r_lingua_genere linguaGenere ON linguagenere.id_genere = zonaProtetta.id_genere 
      INNER JOIN car_d_lingua lingua ON lingua.id_lingua = linguaGenere.id_lingua
        WHERE upper(lingua.cod_lingua) = upper('la')
         AND id_gruppo_zona_protetta = #{idGruppoZonaProtetta}
         AND zonaProtetta.fine_validita is null
  </select>


	<select id="getListaGeneriSpecieComunicazione" parameterType="java.lang.Long" resultType="it.aizoon.ersaf.dto.GenereSpecieDTO">
		
		select 
		id_specie ,
			(SELECT denom_specie 
				FROM car_r_lingua_specie lingua_specie
					INNER JOIN car_d_lingua lingua
					ON lingua_specie.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')
				WHERE lingua_specie.id_specie = crcs.id_specie
				) denom_specie,
			(SELECT denom_genere from car_r_lingua_genere lingua_genere 
				INNER JOIN car_d_lingua lingua
				ON lingua_genere.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')
			WHERE lingua_genere.id_genere = crcs.id_genere) denom_genere,
			numero_piante
from car_t_comunicazione ctc 
inner join (select MAX(id_comunicazione) as id_comunicazione
			from car_t_comunicazione ctc2 
			where ctc2.id_centro_aziendale = #{idCentroAz}
		         and ctc2.id_stato_comunicazione in (2, 3) 
		    ) commax on commax.id_comunicazione = ctc.id_comunicazione 
left join car_r_comunicazione_specie crcs on crcs.id_comunicazione = commax.id_comunicazione	  

	</select>	
	
		<select id="getListaGeneriSpecieDomandaRuop" parameterType="java.lang.Long" resultType="it.aizoon.ersaf.dto.GenereSpecieDTO">
		select
			VUS.id_specie ,
			(select denom_specie 
				from car_r_lingua_specie lingua_specie
					INNER JOIN car_d_lingua lingua
					ON lingua_specie.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')
				where lingua_specie.id_specie=VUS.id_specie
				) denom_specie,
			(select denom_genere from car_r_lingua_genere lingua_genere 
				INNER JOIN car_d_lingua lingua
				ON lingua_genere.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')
			where lingua_genere.id_genere =VUS.id_genere) denom_genere,
			null as numero_piante
		FROM
			  car_r_domanda_centro_az domCentroAz 
			  inner join car_t_centro_aziendale centroAz on centroAz.id_centro_aziendale = domCentroAz.id_centro_aziendale
			  inner join car_t_voce_utente VU on VU.id_centro_aziendale = centroAz.id_centro_aziendale
			  inner join car_r_voce_utente_specie VUS on VUS.id_voce_utente = VU.id_voce_utente    
			  inner join (
				select 
				   max(voceUtSp.id_voce_utente_specie) idVoceUtenteSpecie,
				   voceUtSp.id_voce_utente 
				from car_r_voce_utente_specie voceUtSp
				  inner join car_t_voce_utente ctvu on ctvu.id_voce_utente = voceUtSp.id_voce_utente
				  group by voceUtSp.id_voce_utente
				) as v on v.idVoceUtenteSpecie =  VUS.id_voce_utente_specie
		where domCentroAz.id_domanda = #{idDomanda} 
	</select>	
	
	<select id="getGenereByIdSpecie" parameterType="java.lang.Long" resultType="it.aizoon.ersaf.dto.CodeDescriptionDTO">
		select 
		  linguaGenere.id_genere as id,
		  linguaGenere.denom_genere as descr
		from 
		  car_d_specie specie 
		  inner join car_d_genere genere on genere.id_genere = specie.id_genere 
		  inner join car_r_lingua_genere linguaGenere on linguaGenere.id_genere = genere.id_genere 
		where
		  specie.id_specie = #{idSpecie}
	</select>
	
	<select id="getSpecieGenereByListIdSpecie" parameterType="map" resultType="it.aizoon.ersaf.dto.SpecieDTO">
	   select distinct
		  linguaSpecie.id_specie,
		  linguaSpecie.denom_specie,
		  linguaGen.id_genere,
		  linguaGen.denom_genere
		from 
		  car_r_lingua_specie linguaSpecie
			inner join car_d_lingua lingua ON linguaSpecie.id_lingua = lingua.id_lingua AND upper(lingua.cod_lingua) = upper('la')	
			inner join car_d_specie cds on cds.id_specie = 	linguaSpecie.id_specie 	
			inner join car_r_lingua_genere linguaGen on linguaGen.id_genere = cds.id_genere	
		where
		  cds.id_specie in 
		  <foreach item = "item" index = "index" collection = "idSpecieList" open = "(" separator = "," close = ")">
        		#{item}
          </foreach>		
		order by linguaSpecie.denom_specie asc
	</select>
	
	<select id="getOrgNocByIdGenere" parameterType="java.lang.Long" resultType="it.aizoon.ersaf.dto.generati.CarDOrgNocivo">
	  select 
		  zonaProtetta.id_org_nocivo,
		  orgNoc.desc_breve 
		from 
		  car_d_zona_protetta zonaProtetta
		  inner join car_d_org_nocivo orgNoc on orgNoc.id_org_nocivo = zonaProtetta.id_org_nocivo
		where 
		  zonaProtetta.id_genere= #{idGenere}	  
	</select>
		
	<select id="getGenereByIdGenere" parameterType="java.lang.Long" resultType="it.aizoon.ersaf.dto.CodeDescriptionDTO">
		  select   
			  linguaGen.id_genere as id,
			  linguaGen.denom_genere as descr
			from  
				car_r_lingua_genere linguaGen 			
			where
			  linguaGen.id_genere = #{idGenere}	  
	</select>
	
	<select id="getOrgNocivoByIdOrgNocivo" parameterType="java.lang.Long" resultType="it.aizoon.ersaf.dto.CodeDescriptionDTO">
		  select
		    orgNoc.id_org_nocivo as id,
		    orgNoc.desc_breve as descr
		  from 
		    car_d_org_nocivo orgNoc
		  where
		    orgNoc.id_org_nocivo = #{idOrgNocivo}	  
	</select>
  
</mapper>
