<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2013-2017 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.aizoon.ersaf.integration.mybatis.mapper.OrganismiNociviMapper">
  
  
  <select id="getElencoOrganismiNocivi" parameterType="it.aizoon.ersaf.form.RicercaOrganismiNociviForm" resultType="it.aizoon.ersaf.dto.OrgNocivoGenereSpecieDTO">
	select distinct
		cdon.id_org_nocivo as idOrganismoNocivo,	    
		upper(cdon.codice_eppo) as codice_eppo,	
		upper(cdon.desc_breve) as descBreveON,	
		CASE WHEN cdon.fine_validita is null then true else false END as attivo
	from
		car_d_org_nocivo cdon
	left join car_d_zona_protetta cdzp on cdzp.id_org_nocivo = cdon.id_org_nocivo 		
	<where>
		<if test="attivo != null">
			<if test="attivo == true">
				AND cdon.fine_validita is null
			</if>
			<if test="attivo == false">
				AND cdon.fine_validita is not null
			</if>
		</if>
		<if test="idOrgNocivo != null">
				AND cdon.id_org_nocivo = #{idOrgNocivo}
		</if>
		<if test="codiceEppo != null">
				<bind name="eppo" value="'%' + codiceEppo + '%'" />
				AND UPPER(cdon.codice_eppo) like UPPER(#{eppo})
		</if>
		<if test="descOn != null">
				<bind name="descrizioneOn" value="'%' + descOn + '%'" />
				AND UPPER(cdon.desc_breve) like UPPER(#{descrizioneOn})
		</if>
	
	</where>
	order by
		codice_eppo
	limit 500
  </select>
  
  
<select id="getOrganismiNocivi" resultType="it.aizoon.ersaf.dto.generati.CarDOrgNocivo">
	select
		cdon.id_org_nocivo,
		upper(cdon.codice_eppo) ||' - '|| upper(cdon .desc_breve) as desc_breve
	from 
		car_d_org_nocivo cdon
	where 
		cdon.fine_validita is null
	order by 
		desc_breve 
</select>
  
<select id="getTipiOrganismiNocivi" resultType="it.aizoon.ersaf.dto.generati.CarDTipoOrgNocivo"> 
  select 
	  cdton.id_tipo_org_nocivo,
	  upper(cdton.desc_breve) as desc_breve
  from car_d_tipo_org_nocivo cdton 
  where cdton.fine_validita is null
  order by desc_breve
</select>

<select id="getTipiProdotto" resultType="it.aizoon.ersaf.dto.generati.CarDTipoProdotto"> 
	  select 
	  cdtp.id_tipo_prodotto,
	  upper(cdtp.desc_tipo_prodotto) as desc_tipo_prodotto 
	from car_d_tipo_prodotto cdtp 
	where  cdtp.id_tipo_prodotto >= #{idTipoProdotto,jdbcType=DECIMAL}
	order by cdtp .desc_tipo_prodotto 
</select>

<select id="getDatiOrganismoNocivoByIdOrgNoc" resultType="it.aizoon.ersaf.dto.OrgNocivoGenereSpecieDTO">
   select distinct 
	  zonaProt.id_org_nocivo as idOrganismoNocivo,
	  upper(orgNoc.codice_eppo) as codiceEppo,
	  upper(orgNoc.desc_breve) as denomOrganismoNocivo
	from
	  car_d_zona_protetta zonaProt
	  inner join car_d_org_nocivo orgNoc on orgNoc.id_org_nocivo = zonaProt.id_org_nocivo 
	where 
	  zonaProt.id_org_nocivo = #{idOrganismoNocivo,jdbcType=DECIMAL}
</select>

<select id="getGenereSpecieOrgNocivoByIdOrgNoc" resultType="it.aizoon.ersaf.dto.GenereSpecieOrgNocivoDTO">
	select 
    zonaProt.id_zona_protetta,    
    upper(cdon.codice_eppo) as codice_eppo,
    upper(cdon.desc_breve) as descr_org_nocivo,
    zonaProt.id_tipo_org_nocivo, 
    upper(cdton.desc_breve) as desc_tipo_org_nocivo, 
    zonaProt.id_tipo_prodotto,
    upper(tipoProd.desc_tipo_prodotto) as desc_tipo_prodotto, 
    zonaProt.id_gruppo_zona_protetta,
    zonaProt.id_genere,
    upper(lingua_genere.denom_genere) as denom_genere,
    zonaProt.id_specie, 
    upper(lingua_specie.denom_specie) as denom_specie
  from
    car_d_zona_protetta zonaProt
    inner join car_d_org_nocivo cdon on cdon.id_org_nocivo = zonaProt.id_org_nocivo
    inner join car_d_tipo_org_nocivo cdton on cdton.id_tipo_org_nocivo = zonaProt.id_tipo_org_nocivo 
    inner join car_d_tipo_prodotto tipoProd on tipoProd.id_tipo_prodotto = zonaProt.id_tipo_prodotto 
    left outer join car_d_specie specie
		    on specie.id_specie = zonaProt.id_specie 
		  LEFT OUTER JOIN (
		        SELECT lingua_specie_inner.id_specie,
		               lingua_specie_inner.denom_specie
		        FROM car_r_lingua_specie lingua_specie_inner
		          INNER JOIN car_d_lingua lingua
		            ON lingua_specie_inner.id_lingua = lingua.id_lingua
		            AND UPPER (lingua.cod_lingua) = UPPER ('la')
		      ) lingua_specie 
		   ON specie.id_specie = lingua_specie.id_specie
		   LEFT OUTER JOIN (
		        SELECT lingua_genere_inner.id_genere,
		               lingua_genere_inner.denom_genere
		        FROM car_r_lingua_genere lingua_genere_inner
		          INNER JOIN car_d_lingua lingua
		            ON lingua_genere_inner.id_lingua = lingua.id_lingua
		            AND UPPER (lingua.cod_lingua) = UPPER ('la')
		      ) lingua_genere 
		        ON zonaProt.id_genere = lingua_genere.id_genere
  where 
    zonaProt.id_org_nocivo = #{idOrganismoNocivo,jdbcType=DECIMAL}
  order by tipoProd.desc_tipo_prodotto, lingua_genere.denom_genere, lingua_specie.denom_specie
</select>

<select id="getOrganismoNocivoByCodiceEppoDescrOrgNoc" resultType="it.aizoon.ersaf.dto.generati.CarDOrgNocivo">
  select 
	  orgNoc.id_org_nocivo 
  from 
	  car_d_org_nocivo orgNoc
   where  
	   upper(orgNoc.codice_eppo) = upper(#{codiceEppo})
	   and upper(orgNoc.desc_breve) = upper(#{descrOrgNoc}) 
</select>

<select id="getOrganismoNocivoByCodiceEppoDescrOrgNocIdTipoOrg" resultType="it.aizoon.ersaf.dto.generati.CarDOrgNocivo">
	select 
	  	orgNoc.id_org_nocivo 
      from 
	   	car_d_org_nocivo orgNoc
   	 where  
	   	upper(orgNoc.codice_eppo) = upper(#{codiceEppo})
	   	and upper(orgNoc.desc_breve) = upper(#{descrOrgNoc})
	   	and id 
</select>

  
</mapper>
